FluxHaus.xcodeproj/xcshareddata/
FluxHaus.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/

# Swift Package Manager build artifacts
.build/
.swiftpm/

# SwiftLint binary
swiftlint
swiftlint.zip
