FluxHaus.xcodeproj/xcshareddata/
FluxHaus.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/

# Build artifacts
.build/
swiftlint
swiftlint.zip

# Swift Package Manager
.swiftpm/
Package.resolved
